.follow-us-card-image {
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.follow-us-card-item {
    background-color: white;
    height: 30vh;
    text-align: center;
    width: 120px;
    border-radius: 9px;
}

.food-image-bottom {
    height: 150px;
    width: 340px;
    border-radius: 20px;
}

.article-img {
    border-radius: 16px;
}

.code-card {
    font-family: "Bree Serif";
    background-color: white;
    padding: 60px;
    text-align: left;
}

.code-paragraph {
    text-align: left;
}

.customer-sec {
    background-color: white;
    border-color: #e5eaf4;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}

.healthy-food-image-burger {
    width: 270px;
    border-radius: 20px;
    height: 40vh;
}

.taste-the-most-custom-button {
    color: black;
    font-weight: bold;
    background-color: white;
    width: 130px;
    height: 40px;
    border-width: 0;
    border-radius: 25px;
    margin-right: 30px;
}

.taste-the-most-custom-outline-button {
    background-color: transparent;
    color: white;
    width: 130px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25px;
}

.taste-the-most {
    background-color: orange;
}

.taste-the-most-font {
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.pricing-container {
    background-color: white;
    border-radius: 20px;
}

.price-tag {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
}

.icon1 {
    color: orange;
    font-size: 25px;
}

.top-card-heading {
    font-weight: bold;
    font-size: 30px;
}

.explore-menu {
    color: #ff8c00;
    font-family: "Roboto";
    font-weight: 500;
}

.explore-menu-heading {
    color: #ff8c00;
    font-family: "Roboto";
    font-weight: bold;
}

.food-bg-container {
    height: 80vh;
    background-size: cover;
}

.logo {
    width: 120px;
    height: 100px;
}

#navlinkItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navlinkItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navlinkItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navlinkItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.food-heading {
    font-size: 45px;
    color: white;
}

.food-para {
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.custom-button {
    color: white;
    font-weight: bold;
    background-color: #ff8c00;
    width: 130px;
    height: 40px;
    border-width: 0;
    border-radius: 25px;
    margin-right: 30px;
}

.custom-outline-button {
    background-color: transparent;
    width: 130px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 25px;
}


.wcu-container {
    background-color: #f9fbfe;
}

.wcu-heading {
    text-align: center;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 35px;
}

.wcu-paragraph {
    font-family: "Roboto";
    color: #5a7184;
    font-size: 16px;
}

.wcu-card {
    background-color: white;
    text-align: center;
    border-color: #e5eaf4;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}

.food-image {
    height: 90px;
    width: 87px;
}

.wcu-card-title {
    font-size: 22px;
    font-weight: 800;
    font-family: "Roboto";
}

.wcu-card-para {
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto";
}

.offers {
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
}


.menu-bg-container {
    background-color: white;
}

.menu-explore {
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto";
    color: #323f4b;
}

.menu-image {
    border-radius: 16px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}

.menu-border {
    border-radius: 16px;
}

.hfd-bg-container {
    background-color: white;
}

.hfd-bg-container1 {
    background-color: #f9fbfe;
}

.healthy-food-image {
    width: 270px;
    border-radius: 20px;
}



.health-card-heading {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 600;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}



.follow-us {
    background-color: white;

}

.logo {
    width: 80px;
    height: 70px;
}


.icon {
    color: #d0b200;
    font-size: 35px;
}
